* {
    margin: 0;
    padding: 0;
}/*reset code*/
h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 999px;
    text-align: center;
    text-decoration: underline;
    line-height: 80px;
    color: #0BD966;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}
h3 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}
h4 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}
ul {
    text-align: center;
}
p {
    color: #33DB4D;
    text-indent: 30px;
    text-transform: capitalize;
    line-height
}
p#promise {
    text-align: center;
}
.Bios {
    text-align: center;
}
button#Apps {
    text-align: center;
    line-height: 20px;
}
.Apps {
    text-align: center;
    line-height: 5;
    padding: 5;
}
.images {
    text-align: center;
}
/*Background image*/
body {
    background-color: #ED4B0C;
}
div#about_us {
    background: url('https://th.bing.com/th/id/OIP.ITXMtr9xjrzJZhEbebb1YQHaE8?pid=Api&rs=1');
    background-size: 100;
    font-size: 500%;
    line-height: 2;
}
div#Title {
    background-color: blue;
}
p#promise {
    font-family: 'Comfortaa', cursive;
}
button {
    border-radius: 15px;
    padding: 2%;
}
