* {
    margin: 0;
    padding: 0;
}/*reset code*/
h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 999px;
    text-align: center;
    text-decoration: underline;
    line-height: 80px;
    color: #82E085;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    color: #C20401;
}
h3 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}
h4 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}
.headers {
    font-size: 24px;
    line-height: 40px;
}
ul {
    text-align: center;
}
p {
    font-family: 'Comfortaa', cursive;
    color: #FA8E00;
    text-indent: 30px;
    line-height: 20px;
}
.Bios {
    text-align: center;
}
.buttons {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #00E2FF;
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 100;
    padding: 15px;
    background-color: #000000;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #00E2FF 7px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.buttons:hover {
    background: #000000;
    border: solid #00E2FF 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-decoration: none;
}
.Apps {
    text-align: center;
    line-height: 5;
    padding: 5;
}
.images {
    text-align: center;
}
/*Background image*/
div#main {
    background-color: #0F9899;
    background-image: url('computer_image.jpg');
    background-size: cover;
}

div#Title {
    background-color: #10044A;
}
p#promise {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: green;
    line-height: 200%;
    font-size: 50px;
}
div#Title {
    text-align: center;
}
div#second {
    background: url('multi_desktop_image.jpg');
    background-size: cover;
}
p#about_us {
    line-height: 1.5;
}
/*Navbar at the top*/
.contact_info {
    background-image: url('get_in_contact.jpg');
    background-size: cover;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
nav {
  width: 100%;
  margin: 20px 0; }
nav ul {
  list-style: none;
  overflow: hidden; }
nav ul li {
  float: left;
  width: 20%; }
nav ul li a {
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top,
    #cdeb8e 0%, #b0ca34 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#cdeb8e),
    color-stop(100%,#b0ca34)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #cdeb8e 0%,#b0ca34 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #cdeb8e 0%,#b0ca34 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,
    #cdeb8e 0%,#b0ca34 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr=’#cdeb8e’,
    endColorstr=’#b0ca34′,GradientType=0 ); /* IE6-9 */
  }
nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  color: #000;
  text-decoration: none; }
nav ul li a:hover,
nav ul li a:active {
  background: #b0ca34; /* Old browsers */
  background: -moz-linear-gradient(top,
    #b0ca34 0%, #96c40d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#b0ca34),
    color-stop(100%,#96c40d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #b0ca34 0%,#96c40d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #b0ca34 0%,#96c40d 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,
    #b0ca34 0%,#96c40d 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr=’#b0ca34′,
    endColorstr=’#96c40d’,GradientType=0 ); /* IE6-9 */
  }
nav ul li:first-child a {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; }
nav ul li:last-child a {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }
